<div class='mx-4 py-4'>
  <h1><%= @restaurant.name %></h1>

  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to restaurant_path(@restaurant),
          method: :delete,
          data: { confirm: "Deleteing #{@restaurant.name}.\nAre you sure?" } do %>
            Delete <i class="far fa-trash-alt"></i>
          <% end %> |

  <%= link_to 'Back', restaurants_path %> |
  <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>

  <div class='border px-1 mt-2 text-secondary'>
    <span class="fas fa-map-marked-alt" aria-hidden="true"></span><span> <%= @restaurant.address %></span><br>
    <span class="fa fa-phone" aria-hidden="true"></span> <span><%= @restaurant.phone_number %></span><br>
    <p>Category: <%= @restaurant.category %></p>
  </div>

  <h2 class="text-primary mt-2">Leave a review</h2>
  <%= simple_form_for [ @restaurant, @review ] do |f| %>
    <%= f.input :content, as: :text, input_html: {rows: 4, cols: 10}, :label => 'Your review'%>
    <br>
    <%= f.input :rating,  :collection => 0..5, :label => 'Your rating (0-5)'%>
    <br>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
    <br>
  <% end %>

  <h2 class="text-primary mt-4">Reviews</h2>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item text-secondary font-weight-lighter small">
        <%= review.content %>
        <br>
        Rating: <%=  "⭐️" * review.rating %>
      </li>
    <% end %>
  </ul>

</div>
